# =========================================
# GOOGLE API
# =========================================

GOOGLE_API_KEY=your_google_api_key_here


# =========================================
# LANGCHAIN / LANGSMITH
# =========================================

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT=Project_Name


# =========================================
# LLM MODELS
# =========================================

CHAT_MODEL_NAME=gemini-3.1-flash-lite
EMBEDDING_MODEL_NAME=gemini-embedding-001


# =========================================
# RAG CONFIGURATION
# =========================================

TOP_K_RESULTS=5

CHUNK_SIZE=1000
CHUNK_OVERLAP=200


# =========================================
# DATABASE
# =========================================

DATABASE_URL=postgresql://postgres:your_password@localhost:5432/rag_chatbot